/*
.afacad-<uniquifier> {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

:root {
  --primary-color: rgba(113, 89, 160);
  --secondary-color: rgba(183, 135, 202);
  --heading-font-family: "Afacad", serif;
  --text-font-family: "Poppins", serif;
}

nav {
  padding: 20px 25px;
}

ul {
  padding: 10px 10px;
  background: rgba(234, 208, 234);
}

ul li {
  list-style: none;
}

li a {
  display: inline;
  color: var(--secondary-color);
  font-size: 16px;
  max-width: 100px;
  padding: 0 20px;
  transition: all 150ms ease-in-out;
}

li a:hover {
  background: var(--primary-color);
  border-radius: 10px;
  color: white;
}

body {
  background: white;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../images/hero-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

.heading h1 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: bolder;
  font-size: 96px;
}

.heading h2 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 22px;
}

.heading h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 16px;
}

.heading p {
  color: black;
  font-family: var(--text-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.heading .icon {
  color: var(--primary-color);
}

.heading .accent-words {
  color: var(--primary-color);
  font-weight: bolder;
}

.heading .logo-icons {
  color: var(--primary-color);
  font-size: 50px;
}

.featured-projects h2 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.featured-projects h3 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
}

.featured-projects p {
  color: black;
  font-family: var(--text-font-family);
  line-height: 30px;
}

.featured-projects .images {
  max-height: 400px;
}

.featured-projects .accent-words {
  color: var(--primary-color);
  font-weight: bolder;
}

.primary-button {
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  transition: all 150ms ease-in-out;
}

.primary-button:hover {
  background: var(--primary-color);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 80px;
  }

  .heading .headshot-image {
    max-width: 300px;
    display: block;
  }
}
