/*
.afacad-<uniquifier> {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

:root {
  --primary-color: rgba(205, 193, 255);
  --heading-font-family: "Afacad", serif;
  --text-font-family: "Poppins", serif;
}

body {
  background: black;
  padding: 50px;
}

.heading {
  background: black;
  text-align: left;
}

.heading h1 {
  color: var(--primary-color);
  font-family: var(--heading-font-family);
  font-weight: bolder;
  font-size: 96px;
}

.heading h2 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 20px;
}

.heading p {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 18px;
}
